<!DOCTYPE html>
<html>
<head>
    <title>Latest Rancher Stack Versions</title>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>
<body>
  <center>
    <br>
   <h2>Latest Rancher Stack Versions</h2>
    <div class="container mt-5">
      <table class="table table-striped w-auto">
        <tbody>
          <tr>
            <td width="300"><a href="https://github.com/rancher/rke2">Rke2 - Stable</a></td>
            <td width="300">{{rke_ver}}</td>
          </tr>
          <tr>
            <td><a href="https://github.com/rancher/rke2">Rke2 - Latest</a></td>
            <td>{{late_rke_ver}}</td>
          </tr>
          <tr>
            <td><a href="https://github.com/k3s-io/k3s">K3s - Stable</a></td>
            <td>{{k3s_ver}}</td>
          </tr>
          <tr>
            <td><a href="https://github.com/k3s-io/k3s">K3s - Latest</a></td>
            <td>{{late_k3s_ver}}</td>
          </tr>
          <tr>
            <td><a href="https://github.com/rancher/rancher">Rancher</a></td>
            <td>{{rancher_ver}}</td>
          </tr>
          <tr>
            <td><a href="https://github.com/longhorn/longhorn">Longhorn</a></td>
            <td>{{longhorn_ver}}</td>
          </tr>
          <tr>
            <td><a href="https://github.com/neuvector/neuvector">NeuVector</a></td>
            <td>{{neu_ver}}</td>
          </tr>
          <tr>
            <td><a href="https://github.com/harvester/harvester">Harvester</a></td>
            <td>{{harv_ver}}</td>
          </tr>
          <tr>
            <td><a href="https://github.com/rancherfederal/hauler">Hauler</a></td>
            <td>{{hauler_ver}}</td>
          </tr>
          <tr>
            <td><a href="https://github.com/cert-manager/cert-manager">Cert-Manager</a></td>
            <td>{{cert_ver}}</td>
          </tr>
        </tbody>
      </table>
      <br><br>
      json : <a href="https://dzver.rfed.io/json">https://dzver.rfed.io/json</a><br><br>
      support matrix : <a href="https://www.suse.com/suse-rancher/support-matrix/all-supported-versions/">https://www.suse.com/suse-rancher/support-matrix/all-supported-versions</a><br><br>
      source : <a href="https://github.com/clemenko/rancher_version">https://github.com/clemenko/rancher_version</a><br>
      youtubes : <a href="https://www.youtube.com/@clemenko/videos">https://www.youtube.com/@clemenko/videos</a>
    </div>
  </center>
</body>
</html>
